<div class="jumbotron">
    <h1>My name is Rui Gomes</h1>
    <p>------------------------------------------------</p>
    <h1>The Sola 34 is just my first test with Ruby on Rails !!! :) </h1>
 </div>
 